/*********************** Section 2 Style ***********************************/
.form-style{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 70vh;
    padding-top: 100px;
    justify-content: space-between;
}
.form-style .img-info{
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.form-style .form-data{
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    transition: 1s; 
    margin-left: 50px;;
    margin-top: 50px;
}
.form-data h1{
    align-self: flex-start;
    opacity: 0.85;
    letter-spacing: 3px;
    font-weight: 900;
    transform: translate(8% , -50%);
    color: #fff ;
}
.form-data .input-data{
    border-radius: 30px;
    height: 50px;
    /* background: -webkit-linear-gradient(top,rgb(187, 198, 221),rgb(141, 141, 188),rgb(109, 133, 153)); */
    background-color: #eceff1;
    font-size: 18px;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
}
.form-data .msg-input{
    border-radius: 30px;
    /* background: -webkit-linear-gradient(top,rgb(187, 198, 221),rgb(141, 141, 188),rgb(109, 133, 153)); */
    background-color: #eceff1;
    
}

.btn-send{
    width: 120px;
    height: 50px;
    border-radius: 35px;
    background: -webkit-linear-gradient(top,rgb(187, 198, 221),rgb(141, 141, 188),rgb(109, 133, 153));
    /* background: linear-gradient(180deg, rgba(190, 186, 186, 1) 0%, rgba(109, 110, 111, 1) 52%, rgba(42, 42, 42, 1) 100%); */
    /* background-color: #eceff1; */
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}
.form-data .input-data:focus , .msg-input:focus , .btn-send:focus{
    background: #fff;
}


@media (max-width: 768px){


    /************* section2**********************/
    .form-style{
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }
    .form-style .img-info{
        width: 70%;
        margin: 0 auto;
        height: 100%;
        margin-top: -100px;
    }
    .form-style .form-data{
        flex-direction: column;
        width: 80%;
        height: 100%;
        justify-content: center;
        margin-left: 15px;
    }
    .btn-send{
        display: block;
        width: 80%;
        margin: 0 auto !important;
    }
}


/* .entryarea{
    position: relative;
    margin: 15px 0;
    height: 60px ;
    line-height: 60px;
    background-color: bisque;
}
.entryarea input{
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 20px;
    border: 1.5px solid #888;
    border-radius: 7px ;
    outline: none;
    background-color: transparent;
    line-height: 60px;
    transition:  0.1s ease;
    z-index: 111111;
}
.entryarea .labelLine{
    position: absolute;
    font-size: 1.2rem ;
    margin:  0 20px;
    padding:  0 5px;
    color: #888;
    background-color: #0e173400;
    transition: 0.4s ease;

}
.entryarea input:focus,
.entryarea input:valid{
    color: #6f54c8 ;
    border: 3px solid #ff0080 ;
    
}
.entryarea input:focus + .labelLine,
.entryarea input:valid + .labelLine{
    color: #ff2f00 ;
    height: 30px;
    line-height: 30px;
    transform: translate(-15px ,-15px) scale(0.88) ;
    z-index: 111111;

} */