/* ******************************* Toggle Style ******************************** */
.btn-responsive{
    border: 0 !important;
    outline: none !important; 
    box-shadow: none !important;
}
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #fdfdfd;
    display: block;
    transition: all 0.2s;
}
.middle-bar {
    margin: 5px ;
}
.btn-responsive .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10% ;
}
.btn-responsive .middle-bar {
    opacity: 0;
    filter: alpha(opacity = 0);
}
.btn-responsive .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 10% ;
}
.btn-responsive.collapsed .top-bar{
    transform: rotate(0) !important;
}
.btn-responsive.collapsed .middle-bar{
    opacity: 1 !important;
    filter: alpha(opacity = 100) !important;

}
.btn-responsive.collapsed .bottom-bar{
    transform: rotate(0) !important;
}
.btn-responsive.collapsed .toggler-icon{
    background-color: #fdfdfd !important;
}

/* ************************************ Header Sytle ******************************* */
.nav-height {
    direction: ltr !important;
    height: 90px !important;
    width: 100% !important;
    /* background: linear-gradient(90deg, rgba(255, 251, 244, 0.782) 13%, rgba(185, 130, 110, 0.502) 100%); */
    position: fixed;
    background-color: transparent; /* Initial background color */
    transition: 0.5s ease-in-out !important;
    z-index: 10000001 !important;
}
.logoName {
    width: 15%;
    /* background-color: aqua; */
    text-align: center;
    font-size: 35px !important;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: var(--fontColor) !important;
    cursor: pointer;
}
.logoName::first-letter{
    font-size: 45px;
    color: white;
}

.links-block{
    min-width: 60%;
    /* background-color: #7A5343; */
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.iconMode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    color: var(--whiteColor);
    width: 10%;
    padding: 9px;
    text-align: left;
    /* background-color: aquamarine; */
    cursor: pointer;

}
.links-block a {
    position: relative;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
    padding-bottom:5px ;
    transition: all 0.5s;
    font-weight: 700;
    color: var(--linkcolor);
}
.links-block a:hover{
    padding-bottom:5px;
    border-bottom:  1px solid black;
    color: black;
}
.links-block a:focus{
    padding-bottom:5px;
    border-bottom:  1px solid black;
}
/* .links-block a.activeLink::before{
    content: '';
    position: absolute;
    left: 5px;
    bottom: -6px;
    width: 70%;
    height: 0.1rem;
    background-color: var(--textColor);
} */



/* Start Style On Scroll  */
.navbar-scroll {
    /* background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(7, 35, 255, 1) 31%, rgba(7, 35, 255, 1) 66%, rgba(3, 8, 93, 1) 100% ) !important; */
    /* background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(7, 35, 255, 1) 53%, rgba(3, 8, 93, 1) 100%); */
    background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(52, 104, 192, 1) 52%, rgba(3, 8, 93, 1) 100%);
}
/* End Style On Scroll  */






/* Responsive CSS Style   */
@media screen and (max-width: 768px) {
    .nav-small {
        /* background-color: rgba(255, 255, 255, 1); */
        /* background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(7, 35, 255, 1) 31%, rgba(7, 35, 255, 1) 66%, rgba(3, 8, 93, 1) 100% ) !important; */
        background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(52, 104, 192, 1) 52%, rgba(3, 8, 93, 1) 100%);
        border: 2px solid var(--fontColor);
        border-radius: 30px ;
        padding: 25px;
        width: 100% !important;
    }
    .nav-small nav  , .nav-small form {
        margin-left: 10px !important;
    }
    .links-block {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .navbar-scroll {
        z-index: 1000000 !important;
    }
}        